# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = relearn_research.scraper.settings

# [deploy]
# url = http://localhost:6800/
# project = relearn_research

[deploy:scrapyd1]
url = http://localhost:6800/
project = relearn_research
